@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Vithkuqi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    text-align: center;
}

header .title h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

header .title h2 {
    font-family: 'Poppins', sans-serif;
}

header .logo {
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    flex-direction: row;
}

header .logo .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo .text p {
    font-size: 0.9rem;
}

header .logo img {
    width: 40px;
}

main {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

main .text, main .name, main .congrats {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .text {
    height: 40%;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

main .name {
    display: flex;
    flex-direction: column;
    height: 30%;
    font-size: 4.2rem;
    font-family: 'Great Vibes', cursive;
}

main .name .line {
    width: 40%;
    height: 2px;
    background-color: black;
}

main .congrats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .sign p {
    font-size: 2rem;
}

footer .sign .line {
    width: 100%;
    height: 1px;
    background-color: black;
}

footer p {
    font-family: 'Poppins', sans-serif;
}